:root{
    --background: #F7F7F7;
    --text: #171717;
    --start-color: #1ec0b2;
    --end-color: #4cfd43;
    --rectangle-width: 10%;
    --alert:rgb(255, 216, 216);
}

body{
    background: var(--background) ;
}

#home{
    height: calc(100vh - 4rem);
    display: flex;
}

article{
    width: 54%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: clamp(0.7rem, 3vw, 3rem);
    padding-right: clamp(0.7rem, 3vw, 3rem);
    margin-bottom: clamp(1rem, 5vw, 3rem);
}

.home{
    width: 46%;
    background-image: url(/img/fundo.svg);
    background-repeat: no-repeat, repeat;
    background-size: cover;  
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    margin: 0rem;
    justify-content: end;
}

.title{
    font-family: 'Inter';
    font-weight: 800;
    font-size: clamp(2.25rem, 4.8vw + 1.5rem,5rem);
}

.no-wrap{
    white-space: nowrap;
}

.gradient{
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, var(--start-color), var(--end-color));
}

article h2{
    margin-top: 0.5rem;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 1.3rem;
}

.btn button{
    display: flex;
    align-items: center;
    padding-right: clamp(1rem,1.5rem,2rem);
    padding-left: clamp(1rem,1.5rem,2rem);
    padding-top: clamp(0.1rem,0.4rem,0.5rem);
    padding-bottom: clamp(0.1rem,0.4rem,0.5rem);
    border-radius: 5rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.btn-home button{
    background-image: linear-gradient(to right, var(--start-color), var(--end-color));
    margin: 1.3rem 0rem;
}

.btn a{
    font-family: 'Inter';
    font-weight: 800;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--text);
}

.btn img{
    height: 2rem;
    width: 2rem;
    padding-left:clamp(0.5rem,0.5rem,1rem);
}

.home img{
    display: flex;
    justify-content: start;
    text-align: start;
    width: clamp(20rem, 40%, 28em);
    height: 28rem;

}

/*Esta display none nos cards responsivos*/

#benefits{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: pink;
}

#benefits article{
    display: flex;
}

.subheading{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #e6fffd;
    padding: 2rem 0rem 2rem 0rem;
    font-family: 'Inter';
    font-size: 2.1rem;
    color: var(--text);
    font-family: 'Inter';
    font-weight: 800;
}

.two-cards{
    display: flex;
    gap: 1rem;
}

.card{
    width: clamp(20rem, 23vw, 25rem);
    padding: clamp(0.5rem, 1rem, 1.5rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--background);
    border: 1px solid var(--start-color);
    border-radius: 1rem;
}

.card h3{
    margin: 1rem 0rem;
    font-size: 1.2rem;
    font-family: 'Open Sans';
    font-weight: 700;
    color: var(--text);
}

.card p{
    font-size: 1rem;
    font-family: 'Poppins';
    font-weight: 400;
    color: var(--text);
    display: flex;

}

.card img{
    width: 5rem;
}

#benefits{
    display: flex;
    flex-direction: column;
}

#link-page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: rgb(225, 192, 255);
    justify-content: center;
}

.container{
    display: flex;
    height: 100%;
}

.container article{
    background: #bbffb5;
    display: flex;
    flex-direction: column;
}

.title2{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1rem;
} 

.text{
    font-family: 'Open Sans';
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.alert{
    width: fit-content;
    padding: 0.3rem;
    font-family: 'Roboto';
    font-weight: 700;
    background: var(--alert);
    border: 2px solid red ;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;   
}

.btn-benefits button{
    background: var(--text);
}

.btn a{
    /*Aqui define todas as configuraçoes de texto do btn*/
    color: var(--background);
}

.img{
    background: rgb(255, 161, 161);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img img{
    height: 90%;
}

#works{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: rgb(255, 245, 159);
}

.works2{
    display: flex;
    height: 100%;
}

.container2{
    width: 50%;
    height: 40%;
    background: rgb(226, 197, 197);
    margin: 0.5rem;
}

#pay{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: rgb(159, 255, 164);
}

.packs{
    display: flex;
    background: rgb(255, 220, 225);
}

.pack{
    width: clamp(20rem, 23vw, 25rem);
    padding: clamp(0.5rem, 1rem, 1.5rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    background: var(--background);
    border: 1px solid var(--start-color);
    border-radius: 1rem;
}

.name{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

p.info {
    font-family: 'Open Sans';
    font-weight: 450;
    font-size: 1rem;
    margin-bottom: 1rem;   
}

.price{
    font-family: 'Inter';
    font-weight: 730;
    font-size: 1.7rem;
    margin-bottom: 1rem;   
}

.price-btn button{
    background: var(--text);
    margin-bottom: 1rem;   
}

.resources{
    width: 70%;
}

h5{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    margin-bottom: 0.8rem;
}

.container3{
    display: flex;
    align-items: center;
}

.item{
    display: flex;   
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.correct{
    width: 1rem;
    height: 1rem;
}

.incorrect{
    width: 1rem;
    height: 1rem;
}


.item img{
    width: 1.1rem;   
}

.item p{
    font-family: 'Open Sans';
    padding: 0rem 0.5rem;
    font-size: 1rem;
    font-weight: 500;
}

.item button{
    width: 1.2rem;
    height: 1.2rem;
}

button.doubt{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10rem;
    border: 1px solid var(--text);
    cursor: pointer;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 1rem;
    background: none;
}









/*Switch*/

.center{
    display: flex;
    justify-content: center;
}

.center-switch{
    width: fit-content;
    background: #333;
    border-radius: 5rem;

}

.switch {
    display: flex;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.switch button {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    /*transition: background-color 0.3s, color 0.1s;*/
    outline: none;
}

#with-host.active,
#without-host.active {
    background-color: #718deb;
    color: white;
    border-radius: 1rem;
}

#with-host {
    background-color: #718deb;
    color: white;
}

#without-host {
    background-color: #333;
    color: gray;
}









@media (max-width: 1340px){
    body{
        background: rgb(255, 227, 176);
    }
}

@media (max-width: 1024px) {
    body{
        background: rgb(231, 255, 166);
    }
}

@media (max-width: 769px){
    body{
        background: rgb(244, 255, 143);
    }

    .card{
        display: none;
    }

    
}

@media (max-width: 601px){
    body{
        background: rgb(219, 255, 227);
    }
}

@media (max-width: 480px) {

    body{
        background: rgb(255, 215, 234);
    }
}
